body {
  font-family: "Raleway", sans-serif;
  /* font-weight: 100; */
  background-color: #fafafa;
  color: black;
  margin: 0;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*  End */

a, a:visited {
  color: black;
}

#page-container {
  margin-top: 5%;
  font-size: 2em;

  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

}

#content-container {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* Image */

#image {
  width: 50%;
  min-width: 150px;
  max-width: 350px;
  order: 2;
}

#image > img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 5%;
}

/* About */

#name {
  font-size: 15vw;
  font-weight: 100;
}

#about {
  width: 100%;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
}

#info {
  padding: 0 10%;
  font-size: 0.5em;
  text-align: center;
  order: 3;
  font-weight: 400;
}

/* Contact */
#contact > div {
  width: 50%;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;   
  display: flex;
  justify-content: space-around;
}

#contact {
  width: 50%;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0 5%;
}

#email {
  cursor: pointer;
  position: relative;
}

#email-icon > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-content: center;
  justify-content: center;
}

/* #email-icon:hover #email-hover {
  display: block;
} */

#email-hover {
  background-color: rgba(250,250,250);
  font-family: "Raleway";
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  padding: 50% 10%;
  width: 100%;
  animation-timing-function: ease-in-out;
}

.hidden {
  display: none;
}

/* Info */

ul {
  padding: 0;
}

.info-bullet {
  list-style-type: none;
  margin: 1em 0;
}

h2 > a:link {
  text-decoration: none;
}

/* PROJECTS PAGE */

/* Project Container */

#project-container {
  display: flex;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  box-shadow: gainsboro 3px 3px 100px;
}

#project-detail {
  display: none;
}

.project-description {
  display: none;
}

.project {
  width: 100vw;
  height: 20vh;
  color: #2F4F4F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}

.expand:hover {
  cursor: pointer;
}


.is-active-tablet {
  width: 100vw !important;
  height: 100vw !important;
  order: 0;
}

.project > h2 {
  position: absolute;
  margin: 0;
  font-weight: 300;
}

.ruby {
  /* background-color: #FF5E5B; */
  background-color: #FBF3F9;
}

.elixir {
  /* background-color: #FFFFEA; */
  background-color: #DFCDC3;
}

.chrome-extension {
  /* background-color: #00CECB; */
  background-color: #A2A392;
}

.arduino {
  /* background-color: #FFED66; */
  background-color: #BACDB0;
}

.python {
  /* background-color: #D8D8D8; */
  background-color: #729B79;
}

/*=============
    Tablet
==============*/

@media (min-width: 768px) {
  #name {
    font-size: 2em;
  }

  #page-container {
    padding: 0 10%;
    margin-top: 10%;
  }

  #contact {
    padding: 0 10%;
    font-size: 1.25em;
    margin-bottom: 5%;
  }

  #info {
    font-size: 2vw;
  }

  .project{
    width: 50%;
    height: 50vw;
  }
}

/*=============
    Desktop
==============*/

@media (min-width: 1281px) {
  #page-container {
    margin: 15% 5%;
    padding: 0;
  }

  #about {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-self: center;
  }

  #image {
    width: auto;
    align-self: center;
  }

  #content-container {
    flex-wrap: nowrap;
  }

  #info {
    flex-grow: 2;
    width: 50%;
    padding: 0 3% 0 2%;
    text-align: right;
    align-self: center;
    font-size: 0.5em;
  }

  #project-container {
    width: 100%;
  }

  #project-detail-container {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project-detail > img {
    max-width: 75%;
    height: auto;
  }
  #project-color {
    background-color: whitesmoke;
    opacity: 0.3;
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
  }

  #project-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    width: 95%;
    max-height: 95%;
    overflow-y: auto;
  }

  #project-detail > h3, h4 {
    width: 100%;
    align-items: center;
  }

  #projects {
    width: 50%;
  }

  .project {
    width: 50%;
    height: 25vw;
  }


}